<%- include("header") -%>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <div class="box" id="heading">
    <h1> <%= listName %> </h1>
    <h2><%= todayDate %></h2>
  </div>
  <div class="box">
    <% for (let i=0; i < addedItem.length; i++ ){ %>
    <div class="item">
      <input type="checkbox">
      <p><%= addedItem[i] %></p>
    </div>
    <%}%>
    <form action="/" method="post">
      <input type="text" name="addedItem" placeholder="Activity" autocomplete="off">
      <button id="submit" type="submit" name="list" value=<%= listName %> >+</button>
    </form>
  </div>
  <div>
    <form action="/" method="post">
      <button class="box reset" id="reset" type="submit" name="reset" value=<%= listName %>>Reset</button>
    </form>
  </div>
  <script src="js/list.js" charset="utf-8"></script>

<%- include("footer") -%>
